.countries {
  display: grid;
  gap: 40px;
  padding-inline: calc(var(--padding-outside) + 38px)
}
@media screen and (min-width: 768px) {
  .countries {
    grid-template-columns: repeat(2, 264px);
    justify-content: center;
    padding-inline: calc(var(--padding-outside))
  }
}

@media screen and (min-width: 1024px) {
  .countries {
    grid-template-columns: repeat(3, 264px);
  }
}

@media screen and (min-width: 1440px) {
  .countries {
    grid-template-columns: repeat(4, 264px);
    justify-content: space-between;
  }
}
